body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.dropdown{
  display: flex;
  flex-direction: row;
}
.pos{
  margin: 4px;
}
@media only screen and (max-width: 570px) {
  .dropdown{
    display: flex;
    flex-direction: column;
  }
  .dropdown-content{

    display: none;
    margin-left:10%;

  }

  .pos{
    position: absolute;
    padding-top:5px;
    right: 10%;


  }
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {
    display: block;

  }

  .dropdown:hover .dropbtn {background-color:white;}

}

@media only screen and (min-width: 570px) {

  .dropdown-content {

    display: none;
    position: absolute;
    background-color:#0c0b09;
    min-width: 180px;
    box-shadow: 0px 1px 1px 0px #0c0b09;
    top:25px;
    left:0%;
    z-index: 1;


  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .pos{
    margin: 4px;
  }
  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #3e8e41;}
}

.nav-logo {
  border-radius: 5px;
  padding-right: 2%;
  object-fit: fit;
}

.box-data {
  height: 200px;
}

.old-price {
  color: red;
  background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
  margin-bottom: 2%;

}

.new-price {
  color: green;
  font-weight: 900;
}

.img-holder {
  width: 80%;
  height: 250px;
  margin: auto;
  text-align: center;
}

.img-holder img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  object-fit: contain;
}

.card-data {
  border: 1px dotted white;
  padding: 1%;
}

.menu {
  background-color: #e1e4e8;
}

.grid-main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
}

.grid {
  border: 1px solid #cda45e;
  text-align: center;
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
}

.details-card {
  margin: auto;
  padding: auto;
}

.info {
  padding-top: 5%;
}

.img-slider {
  max-height: 400px;
  height: auto;
  overflow: hidden;
}

.img-slider img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content ul li,
.content p {
  color: white;

}

.home-form {
  width: 70%;
  margin: auto;
}

.by {
  color: #cda45e;
  padding-right: 2%;
}

.text-color {
  color: #cda45e;
}

.footer-info  {
  display: flex;
  margin: auto;
  width: 70%;
}


/* ***************************      ABOUT-US      *************************** */
.founder {
  padding: 0 2%;
  margin: auto;
}

/* ******************************      MENS PRODUCT                ***************************** */
/* slider */
.slider-container {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: auto;
}

.slider-pic-holder {
  width: 100%;
  height: 400px;
}

.slider-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 570px) {
  .slider-container {
    height: 300px;
    width: 100%;


  }
  .slider-pic-holder {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
  .slider-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  .owl-carousel .owl-item img {

      width: 100%;
      object-fit: contain;

  }
}
/* products */

.product-heading {
  text-align: center;
  padding-right: 10%;
}

.products-grid {
  width: 100%;
  /* margin: auto; */
  display: flex;
  flex-wrap: wrap;
}

.products {
  display: flex;
  width: 90%;
  margin-left: 10%;
  /* margin: auto; */
  padding-top: 0;
}

.product-img-holder {
  width: 100%;
  height: 300px;
}

.product-img {
  padding: 4% 0% 2% 0%;
  height: 300px;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.product-card {
  border-radius: 10px;
  border: .1px dotted #cda45e;
  margin: 1% 1% 1% 1%;
}

.product-details button{
  border: none;
  border-radius: 10px;
  background-color: #cda45e;
  color: white;
  padding: 0 8%;
  margin-bottom: 5%;
}

.product-details button:hover{
  background-color: #cda45e;
  color: black;
  transition-delay: .2s;
}

.price-space {
  padding-right: 15%;
}

/* filter */
.filter-grid {
  border: 2px solid #cda45e;
  border-radius: 10px;
  margin-top: 1%;
  /* visibility: hidden; */
}

.showFilter {
  display: block;
}
.collapsible{
  display: none;
}
.collapsible2{
  display: none;
}

@media only screen and (max-width: 539px) {
  .btngrp{
    display: flex;
    width: 100%;
    border:1px solid white;
    background-color: red;

  }
  .collapsible {
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 900;
  }
  .collapsible2 {
    position: fixed;
    bottom: 0;
    z-index: 900;
  }
  .showFilter {
    display: none;
  }
  .collapsible{
    background-color: white;
    display: block;
    width: 50%;
    height: 5%;
    color: black;
    font-size: 1.4em;
    border:1px solid white;
    /* margin-left: */
  }
  .collapsible2{

    background-color: white;
    display: block;
    width: 50%;
    height: 5%;
    color: black;
    font-size: 1.4em;
    border:1px solid white;
    margin-left:50%
  }

}

.cbox {
  padding-right: 3%;
}

.cat-option {
  padding-left: 5%;
  color: black;
  font-size: 1.3em;
}

.filter-label {
  padding: 3% 0%;
}

.cat-option input[type="number"] {
  border-radius: 20px;
  padding-left: 5%;
  background-color: transparent;
  color: white;
  margin-bottom: 8%;
}

.cat-option input[type="checkbox"]:checked {
  color: #cda45e;
}

.cat-head {
  color: #cda45e;
}

.price-label {
  margin: 0;
}



/* ****************************     PRODUCT     ******************************* */

.whole-product {
  display: flex;
  width: 80%;
  margin: auto;
}

.sub-imgs {
  display: flex;
}

.product-images {
  width: 50%;
}

.main-img-holder {
  height: 500px;
  width: 90%;
  padding-bottom: 8%;
}

.sub-img-holder {
  height: 100px;
  width: 20%;
}

.main-img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.sub-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}




/* ***************************      MEDIA       *************************** */
@media(min-width: 540px) {
  .cat {
    /* visibility: hidden; */
    opacity: 0;
  }
}

@media only screen and (max-width: 539px) {
  body {
    background-color: white;
  }

  .home-form {
    width: 95%;
    margin: auto;
  }

  .footer-info  {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  .product-card {
    border-radius: 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 5%;
    border-bottom: 1px solid #cda45e;
    margin: 2% 5% 2% 5%;
  }

  .cat {
    visibility: visible;
    position: fixed;
    bottom: 10px;
    color: red;
  }

  .products {
    margin: auto;
    /* margin-bottom: 20%; */
  }

  .products-grid {
    padding-top: 8%;

  }

}
.product-title-section p{
  padding-left: 5%;
}
.whole-product-section {
  padding-top: 0;
}
.whole-product {
  display: flex;
}
.product-images {
  width: 100%;
}

.main-img-holder {
  height: 500px;
  border: 1px solid #cda45e;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
}

.main-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-shadow: 2% 2% 5% #cda45e;
}

.sub-imgs {
  display: flex;
  padding: 2%;
  margin: auto;
  margin-top: 2%;
  align-items: center;
  border-radius: 10px;
}

.sub-img-holder {
  width: 20%;
  height: 100px;
  margin-right: 1%;
  border: 1px dotted #cda45e;
  text-align: center;
}

.sub-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prod-short-desc-div {
  margin-bottom: 8%;
}

.product-description {
  color: black;
  padding: 0 3% 0% 2%;
}

.make-it-yours {
  padding-bottom: 5%;
  text-align: center;
  padding-top: 3%;
}

.prod-checkout-div {
  border: 2px double #cda45e;
  padding: 0% 0% 5% 5%;
}

.prod-sizes {
  display: flex;
}

.prod-quantity input[type="number"] {
  border-radius: 20px;
  outline: none;
  border-color: #cda45e;
  background-color: none;
  margin-left: 5%;
  padding: 1% 0% 1% 3%;
  width: 20%;
}

.prod-buttons {
  text-align: center;
}

.checkout-btn {
  margin-top: 5%;
  border: 1px solid #cda45e;
  width: 50%;
  text-align: center;
  border-radius: 50px;
  padding: 3%;
}

.checkout-btn:hover {
  background-color: black;
  /* transition: ease-in; */
  color: white;
}

/* ******  other details   ****** */

.other-details-section {
  padding-top: 0;
}

.other-details {
  color: black;
  width: 70%;
  margin: auto;
}

.detail {
  margin-bottom: 5%;
  border: 1px solid #cda45e;
  border-radius: 5px;
}

.detail-question {
  display: flex;
  color: #cda45e;
  font-size: larger;
  font-weight: bolder;
  padding: 2%;
  border-bottom: 1px dotted #cda45e;
}

.detail-answer {
  padding: 2% 2%;
}

/* ***************************      MEDIA       *************************** */
@media(min-width: 540px) {
  .cat {
    /* visibility: hidden; */
    opacity: 0;
  }
}

@media only screen and (max-width: 539px) {
  body {
    background-color: white;
  }

  .home-form {
    width: 95%;
    margin: auto;
  }

  .footer-info  {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  .product-card {
    border-radius: 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    padding-bottom: 5%;
    border-bottom: 1px solid #cda45e;
    margin: 2% 5% 2% 5%;
  }

  .cat {
    visibility: visible;
    position: fixed;
    bottom: 10px;
    color: red;
  }

  .products {
    margin: auto;
    /* margin-bottom: 20%; */
  }

  .products-grid {
    padding-top: 8%;

  }

  .collapsible {
    position: fixed;
    bottom: 0;
    z-index: 900;
  }

  /* ******************    PRODUCT         ************************* */

  .whole-product {
    display: flex;
    flex-direction: column;
  }

  .other-details {
    width: 98%;
  }

  .detail-question {
    display: flex;
    color: #cda45e;
    font-size: large;
    font-weight: bold;
    padding: 2%;
    border-bottom: 1px dotted #cda45e;
  }
}
