/* slider */
.slider-container {
  height: 400px;
  width: 100%;
  padding: 0;
  margin: auto;
}

.slider-pic-holder {
  width: 100%;
  height: 400px;
}

.slider-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-holder {
  width: 80%;
  height: 250px;
  margin: auto;
  text-align: center;
}

.img-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dropdown {
  display: flex;
  flex-direction: row;
}

.pos {
  margin: 4px;
}

.nav-logo {
  border-radius: 5px;
  padding-right: 2%;
  object-fit: fit;
}

.box-data {
  height: 200px;
}

.menu {
  background-color: #e1e4e8;
}

.grid-main {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: auto;
}

.grid {
  border: 1px solid #cda45e;
  text-align: center;
  margin: 2%;
  padding: 1%;
  border-radius: 5px;
}

.details-card {
  margin: auto;
  padding: auto;
}

.info {
  padding-top: 5%;
}

.img-slider {
  max-height: 400px;
  height: auto;
  overflow: hidden;
}

.img-slider img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.content ul li,
.content p {
  color: white;

}

.home-form {
  width: 70%;
  margin: auto;
}

.by {
  color: #cda45e;
  padding-right: 2%;
}

.text-color {
  color: #cda45e;
}

/* ***************************      COMMON    *************************** */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

.footer-info  {
  display: flex;
  margin: auto;
  width: 70%;
}


/* ***************************      ABOUT-US      *************************** */
.founder {
  padding: 0 2%;
  margin: auto;
}

/* ****************************      AUTH            ****************************** */

.auth {
  display: flex;
  color: black;
  flex-wrap: wrap;
}

.signin {
  border-right: 2px solid #cda45e;
}

.signin-main-div {
  width: 60%;
  margin: auto;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="number"] {
  border-color: #cda45e;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus,
.login-form input[type="number"]:focus {
  outline: none;
  box-shadow: 2px 2px 2px #cda45e
}

.login-form button[type="submit"] {
  width: 80%;
  outline: none;
  color: #cda45e;
  border: none;
  border-color: #cda45e;
  padding: 1%;
  font-weight: bolder;
  font-size: larger;
}

.login-form button[type="submit"]:hover {
  box-shadow: 4px 4px 4px #cda45e;
  border-radius: 20px;
}

/* ***************************      MEDIA       *************************** */
@media only screen and (min-width: 570px) {

  .slider-container {
    height: 300px;
    width: 100%;
  }
  
  .slider-pic-holder {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }

  .slider-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }

  .owl-carousel .owl-item img {
    width: 100%;
    object-fit: contain;
  }

.product-img {
  padding: 4% 0% 2% 0%;
  height: 300px;
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.product-card {
  border-radius: 10px;
  border: .1px dotted #cda45e;
  margin: 1% 1% 1% 1%;
  font-size: 2em;
}

.product-details button{
  border: none;
  border-radius: 10px;
  background-color: #cda45e;
  color: white;
  padding: 0 8%;
  margin-bottom: 5%;
  font-size: 0.7em;
}
.product-details h6{

  font-size: 1em;
}
.product-details button:hover{
  background-color: #cda45e;
  color: black;
  transition-delay: .2s;
}

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color:white;
  }

@media only screen and (max-width: 767px) {
  .btngrp{
    display: flex;
    width: 100%;
    border:1px solid white;
    background-color: red;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .pos{
    margin: 4px;
  }
  .collapsible{
    background-color: white;
    display: block;
    width: 50%;
    height: 5%;
    color: black;
    font-size: 2.2em;
    border:1px solid white;
    /* margin-left: */
  }

  .dropdown:hover .dropdown-content {
    display: block;
    width: 50%;
    height: 5%;
    color: black;
    font-size: 2.2em;
    border:1px solid white;
    margin-left:50%
  }
  .filter-label {
    padding: 3% 0%;
    font-size: 2em;
  }

}

.cbox {
  padding-right: 3%;
}

.cat-option {
  padding-left: 5%;
  color: black;
  font-size: 1.3em;
}

.filter-label {
  padding: 3% 0%;

}

.cat-option input[type="number"] {
  border-radius: 20px;
  padding-left: 5%;
  background-color: transparent;
  color: white;
  margin-bottom: 8%;
}

.cat-option input[type="checkbox"]:checked {
  color: #cda45e;
  font-weight: ;
}

.cat-head {
  color: #cda45e;
}

.price-label {
  margin: 0;
}



/* ****************************     PRODUCT     ******************************* */

.whole-product {
  display: flex;
  width: 80%;
  margin: auto;
}

.sub-imgs {
  display: flex;
}

.product-images {
  width: 50%;
}

.main-img-holder {
  height: 500px;
  width: 90%;
  padding-bottom: 8%;
}

.sub-img-holder {
  height: 100px;
  width: 20%;
}

.main-img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.sub-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.product-title-section p{
  padding-left: 5%;
}

.whole-product-section {
  padding-top: 0;
}

.whole-product {
  display: flex;
}
.product-images {
  width: 100%;
}

.main-img-holder {
  height: 500px;
  border: 1px solid #cda45e;
  margin: auto;
  padding: 2%;
  border-radius: 20px;
}

.main-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-shadow: 2% 2% 5% #cda45e;
}

.sub-imgs {
  display: flex;
  padding: 2%;
  margin: auto;
  margin-top: 2%;
  align-items: center;
  border-radius: 10px;
}

.sub-img-holder {
  width: 20%;
  height: 100px;
  margin-right: 1%;
  border: 1px dotted #cda45e;
  text-align: center;
}

.sub-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prod-short-desc-div {
  margin-bottom: 8%;
}

.product-description {
  color: black;
  padding: 0 3% 0% 2%;
}

.make-it-yours {
  padding-bottom: 5%;
  text-align: center;
  padding-top: 3%;
}

.prod-checkout-div {
  border: 2px double #cda45e;
  padding: 0% 0% 5% 5%;
}

.prod-sizes {
  display: flex;
}

.radio-label {
  padding-left: 3%;
}

.prod-quantity {
  margin-bottom: 5%;
}

.prod-quantity input[type="number"] {
  border-radius: 20px;
  outline: none;
  border-color: #cda45e;
  background-color: none;
  margin-left: 5%;
  padding: 1% 0% 1% 3%;
  width: 20%;
}

.prod-buttons {
  text-align: center;
}

.checkout-btn {
  border: 1px solid #cda45e;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 50px;
  padding: 3%;
}

.checkout-btn:hover {
  background-color: black;
  /* transition: ease-in; */
  color: white;
}

.icon-cart {
  padding: 0 4%;
}

/* ******  other details   ****** */

.other-details-section {
  padding-top: 0;
}

.other-details {
  color: black;
  width: 70%;
  margin: auto;
}

.detail {
  margin-bottom: 5%;
  border: 1px solid #cda45e;
  border-radius: 5px;
}

.detail-question {
  display: flex;
  color: #cda45e;
  font-size: larger;
  font-weight: bolder;
  padding: 2%;
  border-bottom: 1px dotted #cda45e;
}

.detail-answer {
  padding: 2% 2%;
}

/* ***************************      MEDIA       *************************** */
@media(min-width: 540px) {
  .cat {
    /* visibility: hidden; */
    opacity: 0;
  }
}

@media only screen and (max-width: 539px) {
  body {
    background-color: white;
  }

  .home-form {
    width: 95%;
    margin: auto;
  }

  .footer-info  {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }

  /* auth */

  .signin {
    border-right: none;
    border-bottom: 1px solid #cda45e;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }

  .signin-main-div {
    width: 90%;
  }

}

